@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --white-primary: #ffffff;
    --white-secondary: rgba(255, 255, 255, 0.75);

    --green-primary: #00aa55;
    --green-secondary: rgba(0, 170, 85, 0.75);
    --green-active: #006636;

    --black-primary: #1a1a1a;
    --black-elevated: #242424;
    --black-hover: #2d2d2d;
}

body {
    padding: 30px 20px;

    background-color: var(--black-primary);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
