.valueRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.valueBox {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: var(--black-elevated);
    border-radius: 10px;
    padding: 5px 30px;

    transition:
        box-shadow 0.15s ease,
        transform 0.1s ease;
}

.valueBox:focus-within {
    box-shadow:
        0 0 0 1px rgba(0, 170, 85, 0.6),
        0 6px 18px rgba(0, 170, 85, 0.25);
}


.valueInput {
    max-width: 60px;
    background: transparent;
    border: none;
    outline: none;

    font-size: 32px;
    font-weight: 700;
    color: var(--green-primary);

    text-align: center;
}

/* Chrome, Edge, Safari */
.valueInput::-webkit-inner-spin-button,
.valueInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.meas {
    font-size: 24px;
}

.multiply {
    font-size: 36px;
}

.removeBtn,
.addBtn {
    border: none;
    outline: none;
    font-size: 32px;
    color: white;
    background-color: var(--black-elevated);
    border-radius: 10px;
    height: 46px;
    cursor: pointer;

    transition: .2s ease;

}

.addBtn:hover,
.removeBtn:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
}

.addBtn:hover {
    background-color: rgba(0, 170, 85, 0.30);
    color: var(--green-primary);
}

.removeBtn:hover {
    background-color: rgba(255, 80, 80, 0.12);
    color: var(--red-primary);
}

.setsCardsList {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 50px;
}